body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #178a88;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: #0d2c63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #045055;
}

a {
    text-decoration: none;
    color: #0f0946;
}

/* Styles for the heading box */
.heading-box {
    background-color: rgb(255, 254, 254);
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(41, 13, 119, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
}

.heading-box h1 {
    margin: 0;
    font-size: 36px;
    color: #140561;
}
